body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
